.bodystyle{
    height:100%;width:100%;background-color: rgb(13, 23, 89);
}

.titlediv{
    position: absolute;width: 98%;height: 6%;top:0;left: 1%;
}

.title_left{
    position: absolute;left:10%;top:18%;width: 30%;height: 90%;
}

.title_label{
    position: absolute;width:100%;top:30%;
    text-align: center;line-height: 1.5rem;
    font-size:1.5rem; font-weight: bolder;
    font-family: 微软雅黑,sans-serif;
    color: #65c4f1;
}

.title_right{position: absolute;right:10%;top:18%;width: 30%;height: 90%;}

.apc_report{position: absolute;left:5%;top:10%;width: 90%;height: 20%;}
.day_report{position: absolute;left:5%;top:30%;width: 90%;height: 20%;}
.other{position: absolute;left:5%;top:50%;width: 90%;height: 20%;}

.btn_01{position: absolute;left:32%;top:20%;width: 16%;height: 60%;font-size: 1.2rem;
    background-color: rgb(13, 23, 89);color: #65c4f1;cursor: pointer}
.btn_02{position: absolute;left:52%;top:20%;width: 16%;height: 60%;font-size: 1.2rem;
    background-color: rgb(13, 23, 89);color: #65c4f1;cursor: pointer}


.btn_1{position: absolute;left:2%;top:20%;width: 16%;height: 60%;font-size: 1.2rem;
    background-color: rgb(13, 23, 89);color: #65c4f1;cursor: pointer}
.btn_2{position: absolute;left:22%;top:20%;width: 16%;height: 60%;font-size: 1.2rem;
    background-color: rgb(13, 23, 89);color: #65c4f1;cursor: pointer}
.btn_3{position: absolute;left:42%;top:20%;width: 16%;height: 60%;font-size: 1.2rem;
    background-color: rgb(13, 23, 89);color: #65c4f1;cursor: pointer}
.btn_4{position: absolute;left:62%;top:20%;width: 16%;height: 60%;font-size: 1.2rem;
    background-color: rgb(13, 23, 89);color: #65c4f1;cursor: pointer}
.btn_5{position: absolute;left:82%;top:20%;width: 16%;height: 60%;font-size: 1.2rem;
    background-color: rgb(13, 23, 89);color: #65c4f1;cursor: pointer}

