.visionbody{
    width:100%;
    height:100%;
    /*background-color: #000c3b;*/
    background-color: rgb(13, 23, 89);
}

.titlediv{
    position: absolute;
    width: 98%;height: 8%;
    top:0%;left: 1%;
}

.title_left{
    position: absolute;
    left:10%;top:18%;
    width: 30%;height: 90%;
}
.title_label{
    position: absolute;
    left:43%;top:36%;
    text-align: center;
    line-height: 1.8rem;
    font-size:1.8rem; font-weight: bolder;
    font-family: 微软雅黑;
    color: #65c4f1;
}
.title_right{
    position: absolute;
    right:10%;top:18%;
    width: 30%;height: 90%;
}


#raw_system{
     position: absolute;
     width: 22%;height: 35%;
     left: 11%;top:15%;
    border: 2px solid #032d60;
    -webkit-box-shadow: #07417a 0px 0px 10px;
    -moz-box-shadow: #07417a 0px 0px 10px;
    box-shadow: inset 0 0 30px #07417a;
 }

#burning_system{
    position: absolute;
    width: 24%;height: 35%;
    left: 38%;top:15%;
    border: 2px solid #032d60;
    -webkit-box-shadow: #07417a 0px 0px 10px;
    -moz-box-shadow: #07417a 0px 0px 10px;
    box-shadow: inset 0 0 30px #07417a;
}

#clinker_system{
    position: absolute;
    width: 22%;height: 35%;
    right: 11%;top:15%;
    border: 2px solid #032d60;
    -webkit-box-shadow: #07417a 0px 0px 10px;
    -moz-box-shadow: #07417a 0px 0px 10px;
    box-shadow: inset 0 0 30px #07417a;
}

#S28day_system{
    position: absolute;
    width: 22%;height: 35%;
    left: 11%;top:60%;
    border: 2px solid #032d60;
    -webkit-box-shadow: #07417a 0px 0px 10px;
    -moz-box-shadow: #07417a 0px 0px 10px;
    box-shadow: inset 0 0 30px #07417a;
}


#unname1_system{
    position: absolute;
    width: 24%;height: 35%;
    left: 38%;top:60%;
    border: 2px solid #032d60;
    -webkit-box-shadow: #07417a 0px 0px 10px;
    -moz-box-shadow: #07417a 0px 0px 10px;
    box-shadow: inset 0 0 30px #07417a;
}

#unname2_system{
    position: absolute;
    width: 22%;height: 35%;
    right: 11%;top:60%;
    border: 2px solid #032d60;
    -webkit-box-shadow: #07417a 0px 0px 10px;
    -moz-box-shadow: #07417a 0px 0px 10px;
    box-shadow: inset 0 0 30px #07417a;
}

.set_img{
    position: absolute;
    width: 10%;height: 10%;
    right: 2%;top:1%;
}

.system_img{
    position: absolute;
    width: 70%;height: 70%;
    left: 15%;top:15%;
    /*background-color: white;*/
}


.system_text{
    position: absolute;
    width: 100%;bottom: 5%;
    font-size: 1.6rem;font-family: 微软雅黑;
    color: white;
    text-align: center;
}

.topL {
    width: 20px;height: 20px;
    border-top-width: 2px;
    border-top-color: #26c6f0;
    border-top-style: solid;
    border-left-width: 2px;
    border-left-color: #26c6f0;
    border-left-style: solid;
    position: absolute;
    top: -2px;left: -2px;
}

.topR {
    width: 20px;
    height: 20px;
    border-top-width: 2px;
    border-top-color: #26c6f0;
    border-top-style: solid;
    border-right-width: 2px;
    border-right-color: #26c6f0;
    border-right-style: solid;
    position: absolute;
    top: -2px;
    right: -2px;
}

.bottomL {
    width: 20px;
    height: 20px;
    border-bottom-width: 2px;
    border-bottom-color: #26c6f0;
    border-bottom-style: solid;
    border-left-width: 2px;
    border-left-color: #26c6f0;
    border-left-style: solid;
    position: absolute;
    bottom: -2px;
    left: -2px;
}

.bottomR {
    width: 20px;
    height: 20px;
    border-bottom-width: 2px;
    border-bottom-color: #26c6f0;
    border-bottom-style: solid;
    border-right-width: 2px;
    border-right-color: #26c6f0;
    border-right-style: solid;
    position: absolute;
    bottom: -2px;
    right: -2px;
}
